<select (change)="onChange($event)">
   <option value="MONTHLY">Monthly</option>
   <option value="WEEKLY">Weekly</option>
   <option value="YEARLY">Yearly</option>
</select>
<div
  class="container-fluid"
  style="
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    height: 100%;
    width: 100%;
    overflow: hidden;
  "
>
  <app-barchart [chartRenderingType]="changeFlag"></app-barchart>
  <app-barchart [chartRenderingType]="type.WEEKLY"></app-barchart>
  <app-barchart [chartRenderingType]="type.MONTHLY"></app-barchart>

</div>
