<select class="form-select" style="width:200px" (change)="onChange($event)">
   <option value="MONTHLY">Monthly</option>
   <option value="WEEKLY">Weekly</option>
   <option value="YEARLY">Yearly</option>
</select>
<div
  class="container-fluid mt-4"
  style="
    display: grid;
    grid-template-columns: repeat(1, minmax(0,1fr));
    height: 100%;
    width: 100%;
    overflow: hidden;
  "
>
  <app-barchart [chartRenderingType]="changeFlag" [chartHeight]="300" [chartWidth]="620"></app-barchart>
  <!-- <app-barchart [chartRenderingType]="type.WEEKLY"></app-barchart> -->
  <!-- <app-barchart [chartRenderingType]="type.MONTHLY"></app-barchart> -->

  <app-line-chart></app-line-chart>

</div>
