  <div>Header</div>
  <div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Bar Chart</h5>
            <p class="card-text">
              Suitable for comparing categorical data. Used to display and
              compare data across different categories or groups. Can be either
              vertical (column chart) or horizontal (bar chart).
            </p>
            <button (click)="onNavigate('barchart')" class="btn btn-primary">Visit</button>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Pie Chart</h5>
            <p class="card-text">
              Best for displaying parts of a whole. Useful for representing
              proportions or percentages. Avoid using too many segments for
              clarity.
            </p>
            <a href="#" class="btn btn-primary">Visit</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Line Chart</h5>
            <p class="card-text">
              Ideal for showing trends over time. Effective for illustrating
              changes in data points and identifying patterns.
            </p>
            <a href="#" class="btn btn-primary">Visit</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Area Chart</h5>
            <p class="card-text">
              Similar to a line chart but emphasizes the area beneath the line.
              Often used to show cumulative data trends over time.
            </p>
            <a href="#" class="btn btn-primary">Visit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
